/* navbar.css */
body {
    font-family: 'Poppins', Arial, sans-serif; /* Use the new font */
    margin: 0; /* Remove default margin */
}

.navbar {
    background-color: #222831; /* Main background color */
    overflow: hidden;
    height: 10%;
    width: 100%; /* Ensure navbar spans the full width of the viewport */
    position: fixed; /* Fix the navbar at the top */
    top: 0; /* Position the navbar at the top of the viewport */
    left: 0; /* Ensure the navbar starts from the left edge */
    z-index: 1000; /* Ensure the navbar stays on top of other elements */
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Space between logo and profile icon */
    align-items: center; /* Vertically center the items */
}

.logo-link {
    margin-left: 20px; /* Add margin for spacing */
}

.logo {
    width: 150px; /* Adjust size of logo */
    height: auto;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center the navbar items */
    align-items: center; /* Vertically center the items */
    height: 100%; /* Full height of the navbar */
}

.nav-links li {
    flex: none; /* Ensure items do not stretch */
    padding: 0 15px; /* Add padding between items */
}

.nav-links li a {
    display: block;
    color: #EEEEEE; /* Text color */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px; /* Set a consistent font size */
    font-weight: 600; /* Use a bold weight from the new font */
    transition: color 0.3s, transform 0.3s, opacity 0.3s, background-color 0.3s; /* Smooth transition for color, scale, opacity, and background-color */
}

.nav-links li a:hover {
    background-color: #00ADB5; /* Hover background color */
    color: #222831; /* Hover text color */
    transform: scale(1.1); /* Scale up on hover for animation */
    opacity: 0.9; /* Reduce opacity slightly on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.profile-link {
    margin-right: 20px; /* Add margin for spacing */
}

.profile-icon {
    width: 40px; /* Adjust size of profile icon */
    height: auto;
}
